# Python / Django
backend/venv/
backend/__pycache__/
backend/**/*.pyc
backend/.env

# Django local database
backend/db.sqlite3

# Django media
backend/media/

# Next.js
motoportal-next/node_modules/
motoportal-next/.next/
motoportal-next/.env
motoportal-next/.env.local

# General
.DS_Store
Thumbs.db
.env
backend/.env.production-import
